#sidebar {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
}

#toolbox {
  height: 40%;
  overflow: auto;
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
  border-bottom: solid 2px black;
}

#editor {
  background-color: white;
  overflow: auto;
  height: 40%;
  border-bottom: solid 2px black;
}

#errors {
  height: 17%;
  overflow: auto;
}