.modal-content {
  margin-top: 160px;
}

.buttons {
  width: 100%;
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 14px;
  padding-right: 14px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;  
}

.modal-header {
  text-align: center;
}

.modal-body {
  text-align: center;
}

button {
  padding: 14px;

  width: 40%;
  text-align: center;

  cursor: pointer;

  font-size: 16px;
  background-color: rgb(68, 68, 216);
  color: white;
  border: none;
  border-radius: 10px;
}
