<div class="outer">
  <div class="middle">
    <div class="form-box">
      <div class="header">Sign In</div>
      <form [formGroup]="signInForm" (submit)="onSubmit()">
        <label for="email">Email</label>
        <input id="email" type="text" formControlName="email">
        <label for="password">Password</label>
        <input id="password" type="password" formControlName="password">
        <div class="buttons">
          <button routerLink="/sign-up">Sign up</button>
          <button type="submit" [disabled]="!signInForm.valid">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>